version: "3"

services:
  api:
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=${EXTERNAL_NETWORK:-ridi}"
      - "traefik.frontend.rule=Host:api.pay.local.ridi.io"
    networks:
      traefik:
        aliases:
          - pay-api
      default:
networks:
  traefik:
    external:
      name: ${EXTERNAL_NETWORK:-ridi}
