<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/index.php">
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="KERNEL_CLASS" value="RidiPay\Kernel" />
        <env name="APP_ENV" value="dev" />
        <env name="APP_SECRET" value="s$cretf0rt3st" />
        <env name="SHELL_VERBOSITY" value="-1" />
        <!-- define your env variables for the test env here -->
        <env name="DATABASE_URL" value="mysql://root@mariadb/ridi_pay" />
        <env name="REDIS_HOST" value="redis" />
        <env name="ACCOUNT_SERVER_HOST" value="https://account.dev.ridi.io" />
        <env name="OAUTH2_CLIENT_ID" value="oauth2_client_id" />
        <env name="OAUTH2_CLIENT_SECRET" value="oauth2_client_secret" />
        <env name="OAUTH2_JWT_SECRET" value="secret" />
        <env name="OAUTH2_ACCESS_TOKEN" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyaWRpb2F1dGgydGVzdCIsInVfaWR4IjoyODAzMDUwLCJleHAiOjE5MzExMDM0ODUsImNsaWVudF9pZCI6ImlheDdPY0N1WUo4U3U1cDlzd2pzN1JOb3NMN3pZWjR6ZFY1eHlIVngiLCJzY29wZSI6ImFsbCJ9.Eh_kyD7VS5hbveUfWryK_uST2wMpWeESnCrfoJvLCbQ" />
        <env name="PG_BILL_KEY_SECRET" value="NC+J7HXycBr+GQA52O7lzbGnMxi2cwaQWZo+u1HOyAE=" />
        <env name="IIN_SECRET" value="7arZ/12ZqOZwr9tu3bfbO2GUdhj+2AYu3Tprarkkkq8=" />
        <env name="PARTNER_SECRET_KEY_SECRET" value="TXjVCAn1mcEsE4CnZL7zoxB1cMKGjY+8WWRpAYIIYfw=" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
