includes:
    - ../../vendor/phpstan/phpstan-doctrine/extension.neon

services:
    -
        class: RidiPay\Tests\PHPStan\AnnotationReaderDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension