openapi: 3.0.0
info:
  version: 0.0.1
  title: RIDI Pay API
  description: RIDI Pay API
servers:
  - url: https://pay.local.ridi.io
    description: Local Server
  - url: https://pay.ridi.com
    description: Production Server
tags:
  - name: SPA End-point
    description: SPA 페이지 렌더링용 End-point
  - name: Public API
    description: 모든 가맹점 서비스에서 호출 가능한 API
  - name: Private API
    description: RIDI Pay 내부 이용 API
  - name: Private API (Only First-party)
    description: RIDI 서비스에서 호출 가능한 API
paths:
  /payments/{reservation_id}:
    get:
      tags:
        - SPA End-point
      summary: 결제 페이지
      parameters:
        - $ref: '#/components/parameters/ReservationId'
      responses:
        200:
          $ref: '#/components/responses/SpaResponse'
    post:
      tags:
      - Private API
      summary: 결제 Transaction 생성
      parameters:
      - $ref: '#/components/parameters/Api-Key'
      - $ref: '#/components/parameters/Secret-Key'
      - $ref: '#/components/parameters/ReservationId'
      responses:
        200:
          $ref: '#/components/responses/CreatePaymentResponse'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
  /legal/terms:
    get:
      tags:
        - SPA End-point
      summary: 약관 페이지
      responses:
        200:
          $ref: '#/components/responses/SpaResponse'
  /settings:
    get:
      tags:
        - SPA End-point
      summary: RIDI Pay 설정 페이지
      responses:
        200:
          $ref: '#/components/responses/SpaResponse'
  /settings/cards/add:
    get:
      tags:
        - SPA End-point
      summary: 카드 등록 페이지
      responses:
        200:
          $ref: '#/components/responses/SpaResponse'
  /settings/onetouch:
    get:
      tags:
        - SPA End-point
      summary: 원터치 결제 설정 페이지
      responses:
        200:
          $ref: '#/components/responses/SpaResponse'
  /settings/pin/register:
    get:
      tags:
        - SPA End-point
      summary: 결제 비밀번호 등록 페이지
      responses:
        200:
          $ref: '#/components/responses/SpaResponse'
  /validate/password:
    get:
      tags:
        - SPA End-point
      summary: 계정 비밀번호 검증 페이지
      responses:
        200:
          $ref: '#/components/responses/SpaResponse'
  /validate/pin:
    get:
      tags:
        - SPA End-point
      summary: 결제 비밀번호 검증 페이지
      responses:
        200:
          $ref: '#/components/responses/SpaResponse'
  /payments/reserve:
    post:
      tags:
        - Public API
      summary: 결제 예약
      parameters:
        - $ref: '#/components/parameters/Api-Key'
        - $ref: '#/components/parameters/Secret-Key'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservePaymentRequest'
      responses:
        200:
          $ref: '#/components/responses/ReservePaymentResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
  /payments/{transaction_id}/approve:
    post:
      tags:
        - Public API
      summary: 결제 승인
      parameters:
        - $ref: '#/components/parameters/Api-Key'
        - $ref: '#/components/parameters/Secret-Key'
        - $ref: '#/components/parameters/TransactionId'
      responses:
        200:
          $ref: '#/components/responses/ApprovePaymentResponse'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
  /payments/{transaction_id}/cancel:
    post:
      tags:
        - Public API
      summary: 결제 취소
      parameters:
        - $ref: '#/components/parameters/Api-Key'
        - $ref: '#/components/parameters/Secret-Key'
        - $ref: '#/components/parameters/TransactionId'
      responses:
        200:
          $ref: '#/components/responses/CancelPaymentResponse'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
  /payments/{transaction_id}/status:
    get:
      tags:
        - Public API
      summary: 결제 상태 조회
      parameters:
        - $ref: '#/components/parameters/Api-Key'
        - $ref: '#/components/parameters/Secret-Key'
        - $ref: '#/components/parameters/TransactionId'
      responses:
        200:
          $ref: '#/components/responses/GetPaymentStatusResponse'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
  /payments/subscriptions:
    post:
      tags:
        - Public API
      summary: 정기 결제 등록
      parameters:
        - $ref: '#/components/parameters/Api-Key'
        - $ref: '#/components/parameters/Secret-Key'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
      responses:
        200:
          $ref: '#/components/responses/SubscriptionResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
  /payments/subscriptions/{subscription_id}:
    delete:
      tags:
        - Public API
      summary: 정기 결제 해지
      parameters:
        - $ref: '#/components/parameters/Api-Key'
        - $ref: '#/components/parameters/Secret-Key'
        - $ref: '#/components/parameters/SubscriptionId'
      responses:
        200:
          $ref: '#/components/responses/UnsubscriptionResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
  /payments/subscriptions/{subscription_id}/approve:
    post:
      tags:
        - Public API
      summary: 정기 결제 승인
      parameters:
        - $ref: '#/components/parameters/Api-Key'
        - $ref: '#/components/parameters/Secret-Key'
        - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveSubscriptionPaymentRequest'
      responses:
        200:
          $ref: '#/components/responses/ApproveSubscriptionPaymentResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
  /users/{u_id}:
    get:
      summary: RIDI Pay 유저 정보 조회
      tags:
        - Private API
      parameters:
        - $ref: '#/components/parameters/Uid'
      responses:
        200:
          $ref: '#/components/responses/getUserResponse'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: 서점 회원 탈퇴 시, RIDI Pay 탈퇴 처리
      tags:
        - Private API (Only First-party)
      parameters:
        - $ref: '#/components/parameters/Uid'
      responses:
        200:
          $ref: '#/components/responses/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
  /users/{u_id}/cards:
    post:
      tags:
        - Private API
      summary: 카드 등록
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterCardRequest'
      parameters:
        - $ref: '#/components/parameters/Uid'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        500:
          $ref: '#/components/responses/InternalServerError'
  /users/{u_id}/cards/{payment_method_id}:
    delete:
      tags:
        - Private API
      summary: 카드 삭제
      parameters:
        - $ref: '#/components/parameters/Uid'
        - $ref: '#/components/parameters/PaymentMethodId'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
  /users/{u_id}/onetouch:
    put:
      summary: 원터치 결제 이용 여부 변경
      tags:
        - Private API
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enable_onetouch_pay:
                  type: boolean
                  description: 원터치 결제 이용 여부
                  example: true
      parameters:
        - $ref: '#/components/parameters/Uid'
      responses:
        200:
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_using_onetouch_pay:
                    type: boolean
                    description: 원터치 결제 이용 여부
                    example: true
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
  /users/{u_id}/password/validate:
    post:
      summary: 입력한 계정 비밀번호 검증
      tags:
        - Private API
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
      parameters:
        - $ref: '#/components/parameters/Uid'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
  /users/{u_id}/pin:
    put:
      summary: 결제 비밀번호 변경
      tags:
        - Private API
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pin:
                  type: string
                  description: 결제 비밀번호
                  example: 123456
      parameters:
        - $ref: '#/components/parameters/Uid'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
  /users/{u_id}/pin/validate:
    post:
      summary: 입력한 결제 비밀번호 검증
      tags:
        - Private API
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pin:
                  type: string
      parameters:
        - $ref: '#/components/parameters/Uid'
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
  /users/{u_id}/payment-methods:
    get:
      tags:
        - Private API (Only First-party)
      summary: 등록된 결제 수단 목록 조회
      parameters:
        - $ref: '#/components/parameters/Uid'
      responses:
        200:
          $ref: '#/components/responses/getPaymentMethodsResponse'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    PaymentMethods:
      type: object
      properties:
        cards:
          type: array
          description: 등록된 카드
          items:
            $ref: '#/components/schemas/RegisteredCard'
    RegisteredCard:
      type: object
      properties:
        payment_method_id:
          type: string
          description: 결제 수단 ID
          example: 550E8400-E29B-41D4-A716-446655440000
        iin:
          type: string
          description: 발급자 식별 번호(카드 번호 앞 6자리)
          example: 541654
        issuer_name:
          type: string
          description: 카드 발급사명
          example: 신한
        color:
          type: string
          description: 카드 플레이트 색상
          example: 00FF00
        logo_image_url:
          type: string
          description: 카드 발급사 로고 이미지 URL
        subscriptions:
          type: array
          description: 연결된 정기 결제 서비스명
          items:
            type: string
          example: [리디캐시 자동충전, 리디셀렉트]
      required:
        - payment_method_id
        - iin
        - issuer_name
        - color
        - logo_image_url
        - subscriptions
    RegisteredCardSimple:
      type: object
      properties:
        payment_method_id:
          type: string
          description: 결제 수단 ID
          example: 550E8400-E29B-41D4-A716-446655440000
        iin:
          type: string
          description: 발급자 식별 번호(카드 번호 앞 6자리)
          example: 541654
        issuer_name:
          type: string
          description: 카드 발급사명
          example: 신한
      required:
        - payment_method_id
        - iin
        - issuer_name
    ReservePaymentRequest:
      type: object
      properties:
        payment_method_id:
          type: string
          description: 결제 수단 ID
          example: 550E8400-E29B-41D4-A716-446655440000
        partner_transaction_id:
          type: string
          description: 가맹점 결제 ID
          example: 2018010112345612
        amount:
          type: integer
          description: 결제 금액
          example: 10000
        return_url:
          type: string
          description: RIDI Pay 결제 인증 성공/실패 후, 본 승인 요청을 전송할 가맹점 URL
          example: https://ridibooks.com/payment/callback/ridi-pay
      required:
        - payment_method_id
        - partner_transaction_id
        - amount
        - return_url
    SubscriptionRequest:
      type: object
      properties:
        payment_method_id:
          type: string
          description: 결제 수단 ID
          example: 550E8400-E29B-41D4-A716-446655440000
        purpose:
          type: string
          description: 정기 결제 목적
          example: 리디캐시 자동충전
        amount:
          type: integer
          description: 정기 결제 금액
          example: 10000
      required:
        - payment_method_id
        - purpose
        - amount
    ApproveSubscriptionPaymentRequest:
      type: object
      properties:
        partner_transaction_id:
          type: string
          description: 가맹점 결제 ID
          example: 2018010112345612
      required:
        - partner_transaction_id
    RegisterCardRequest:
      type: object
      properties:
        number:
          type: string
          description: 카드 번호
          example: 5416543210231427
        password:
          type: string
          description: 카드 비밀번호 앞 2자리
          example: 12
        expiration_date:
          type: string
          description: 카드 유효 기한(YYMM)
          example: 2111
        tax_id:
          type: string
          description: 개인 - 생년월일(YYMMDD) / 법인 - 사업자 번호 10자리
          example: 940101
      required:
        - number
        - password
        - expiration_date
        - tax_id
    FailureResponse:
      type: object
      properties:
        code:
          type: string
          description: 에러 코드
        message:
          type: string
          description: 사람이 읽을 수 있는 에러 메시지
      required:
        - code
        - message
  parameters:
    Api-Key:
      name: Api-Key
      in: header
      required: true
      description: 가맹점 구별을 위한 ID, RIDI Pay에서 발급한 값
      schema:
        type: string
    Secret-Key:
      name: Secret-Key
      in: header
      required: true
      description: 가맹점의 RIDI Pay 연동을 위한 Secret, RIDI Pay에서 발급한 값
      schema:
        type: string
    ReservationId:
      name: reservation_id
      in: path
      required: true
      description: RIDI Pay 결제 예약 ID, [POST] /payments/reserve API 참고
      schema:
        type: string
    TransactionId:
      name: transaction_id
      in: path
      required: true
      description: RIDI Pay 결제 ID
      schema:
        type: string
    SubscriptionId:
      name: subscription_id
      in: path
      required: true
      description: RIDI Pay 정기 결제 ID
      schema:
        type: string
    PaymentMethodId:
      name: payment_method_id
      in: path
      required: true
      description: RIDI Pay 결제 수단 ID
      schema:
        type: string
    Uid:
      name: u_id
      in: path
      required: true
      description: Ridibooks 유저 ID
      schema:
        type: string
  responses:
    SpaResponse:
      description: OK(200)
      content:
        text/html:
          schema:
            type: string
    Success:
      description: OK(200)
      content:
        application/json:
          schema:
            type: object
    BadRequest:
      description: Bad Request(400)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FailureResponse'
    Unauthorized:
      description: Unauthorized(401)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FailureResponse'
    Forbidden:
      description: Forbidden(403)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FailureResponse'
    NotFound:
      description: Not Found(404)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FailureResponse'
    InternalServerError:
      description: Internal Server Error(500)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FailureResponse'
    ReservePaymentResponse:
      description: 'OK'
      content:
        application/json:
          schema:
            type: object
            properties:
              reservation_id:
                type: string
                description: RIDI Pay 결제 예약 번호
                example: 880E8200-A29B-24B2-8716-42B65544A000
            required:
              - reservation_id
    CreatePaymentResponse:
      description: 'OK'
      content:
        application/json:
          schema:
            type: object
            properties:
              return_url:
                type: string
                description: RIDI Pay 결제 인증 성공/실패 후, 본 승인 요청을 전송할 가맹점 URL
                example: https://ridibooks.com/payment/callback/ridi-pay
            required:
            - return_url
    ApprovePaymentResponse:
      description: 'OK'
      content:
        application/json:
          schema:
            type: object
            properties:
              transaction_id:
                type: string
                description: RIDI Pay 결제 ID
              partner_transaction_id:
                type: string
                description: 가맹점 결제 ID
                example: 2018010112345612
              product_name:
                type: string
                description: 상품명
                example: 리디북스 전자책
              amount:
                type: integer
                description: 승인 금액
                example: 10000
              reserved_at:
                type: string
                description: 예약 일시 (ISO 8601 Format)
                example: '2018-06-07T01:59:30+09:00'
              approved_at:
                type: string
                description: 승인 일시 (ISO 8601 Format)
                example: '2018-06-07T01:59:59+09:00'
            required:
              - transaction_id
              - partner_transaction_id
              - product_name
              - amount
              - reserved_at
              - approved_at
    CancelPaymentResponse:
      description: 'OK'
      content:
        application/json:
          schema:
            type: object
            properties:
              transaction_id:
                type: string
                description: RIDI Pay 결제 ID
              partner_transaction_id:
                type: string
                description: 가맹점 결제 ID
                example: 2018010112345612
              product_name:
                type: string
                description: 상품명
                example: 리디북스 전자책
              amount:
                type: integer
                description: 취소 금액
                example: 10000
              reserved_at:
                type: string
                description: 예약 일시 (ISO 8601 Format)
                example: '2018-06-07T01:59:30+09:00'
              approved_at:
                type: string
                description: 승인 일시 (ISO 8601 Format)
                example: '2018-06-07T01:59:59+09:00'
              canceled_at:
                type: string
                description: 취소 일시 (ISO 8601 Format)
                example: '2018-06-07T01:59:59+09:00'
            required:
              - transaction_id
              - partner_transaction_id
              - product_name
              - amount
              - reserved_at
              - approved_at
              - canceled_at
    GetPaymentStatusResponse:
      description: 'OK'
      content:
        application/json:
          schema:
            type: object
            properties:
              transaction_id:
                type: string
                description: RIDI Pay 결제 ID
              partner_transaction_id:
                type: string
                description: 가맹점 결제 ID
                example: 2018010112345612
              status:
                type: string
                enum: [RESERVED, APPROVED, CANCELED]
                description: 결제 건 상태
                example: CANCELED
              product_name:
                type: string
                description: 상품명
                example: 리디북스 전자책
              amount:
                type: integer
                description: 승인/취소 금액
                example: 10000
              reserved_at:
                type: string
                description: 예약 일시 (ISO 8601 Format)
                example: '2018-06-07T01:59:30+09:00'
              approved_at:
                type: string
                description: 승인 일시 (ISO 8601 Format)
                example: '2018-06-07T01:59:59+09:00'
              canceled_at:
                type: string
                description: 취소 일시 (ISO 8601 Format)
                example: '2018-06-09T01:59:59+09:00'
              card_receipt_url:
                type: string
                description: 신용카드 매출 전표 URL
                example: 'https://admin8.kcp.co.kr/assist/bill.BillActionNew.do?cmd=card_bill&tno=kcp_tno&order_no=order_no&trade_mony=100'
            required:
              - transaction_id
              - partner_transaction_id
              - status
              - product_name
              - amount
              - reserved_at
    SubscriptionResponse:
      description: 'OK'
      content:
        application/json:
          schema:
            type: object
            properties:
              subscription_id:
                type: string
                description: RIDI Pay 정기 결제 ID
                example: 28F02410-A29D-BD34-80A3-FBA2BC113200
              subscribed_at:
                type: string
                description: 정기 결제 등록 일시 (ISO 8601 Format)
                example: '2018-06-07T01:59:59+09:00'
            required:
              - subscription_id
              - subscribed_at
    UnsubscriptionResponse:
      description: 'OK'
      content:
        application/json:
          schema:
            type: object
            properties:
              subscription_id:
                type: string
                description: RIDI Pay 정기 결제 ID
                example: 28F02410-A29D-BD34-80A3-FBA2BC113200
              subscribed_at:
                type: string
                description: 정기 결제 등록 일시 (ISO 8601 Format)
                example: '2018-06-07T01:59:59+09:00'
              unsubscribed_at:
                type: string
                description: 정기 결제 해지 일시 (ISO 8601 Format)
                example: '2018-06-07T01:59:59+09:00'
            required:
              - subscription_id
              - subscribed_at
              - unsubscribed_at
    ApproveSubscriptionPaymentResponse:
      description: 'OK'
      content:
        application/json:
          schema:
            type: object
            properties:
              transaction_id:
                type: string
                description: RIDI Pay 결제 ID
              partner_transaction_id:
                type: string
                description: 가맹점 결제 ID
                example: 2018010112345612
              subscription_id:
                type: string
                description: RIDI Pay 정기 결제 ID
                example: 28F02410-A29D-BD34-80A3-FBA2BC113200
              amount:
                type: integer
                description: 승인 금액
                example: 10000
              approved_at:
                type: string
                description: 승인 일시 (ISO 8601 Format)
                example: '2018-06-07T01:59:59+09:00'
    getUserResponse:
      description: 'OK'
      content:
        application/json:
          schema:
            type: object
            properties:
              payment_methods:
                type: object
                description: 등록된 결제 수단 목록
                $ref: '#/components/schemas/PaymentMethods'
              has_pin:
                type: boolean
                description: 결제 비밀번호 소유 여부
                example: true
              is_using_onetouch_pay:
                type: boolean
                description: 원터치 결제 이용 여부
                example: true
            required:
              - payment_methods
              - has_pin
              - is_using_onetouch_pay
    getPaymentMethodsResponse:
      description: 'OK'
      content:
        application/json:
          schema:
            type: object
            properties:
              cards:
                type: array
                description: 등록된 카드
                items:
                  $ref: '#/components/schemas/RegisteredCardSimple'
